


@font-face {
  font-family: 'MyFont';
  src: url('/fonts/PingAR+LT-Medium.otf') format('truetype');
}

html,
/* body {
  max-width: 100vw;
  overflow-x: hidden;
} */

body {
  background: #f6f6f6;
  font-family: 'MyFont', sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;